.splash-container {
  background: $black url('/images/kabalwebbgLWS4E3.jpg');
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}
.splashText {
  background: #00000040;
}
.splashText .button {
  background-color: transparent;
}
.googleCalendar{
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
}
.googleCalendar iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  -webkit-filter: invert(100%) grayscale(100%) contrast(100%) brightness(200%)!important;
  filter: invert(100%) grayscale(100%) contrast(100%) brightness(200%)!important;
}