.homepageBody {
  background: #0a0a0a url(/images/backgrounds/homepage.jpg);
  background-position: center center;
  background-attachment: fixed;
}
.splashText {
  background: #00000060;
  padding: 15px;
}
.splashText .button {
  background-color: transparent;
}

.iframeContainer {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
}
.iframeContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
}
.googleCalendar {
  -webkit-filter: invert(100%) grayscale(100%) contrast(100%) brightness(200%)!important;
  filter: invert(100%) grayscale(100%) contrast(100%) brightness(200%)!important;
}