.main {
  background: #00000060;
}
.main section {
  background-image: linear-gradient(to bottom right, #000000, #202020);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
h3, .h3 {
  margin-bottom: 0;
}
.anchor {
  display: block; 
  position: relative; 
  
  //set this to the height of the divider, - height of the top bar in small ui
  top: calc(-136px - 40px); 
}

.top-bar, .top-bar ul, .title-bar {
    background-color: #202020;
}

.divider-1, .divider-2, .divider-3, .divider-4, .divider-5, .divider-6 {
  background-attachment: scroll;
  background-color: #0a0a0a;
  background-position: center top;
  background-repeat: no-repeat;
  height: 136px;
  padding: 0 !important;
}
.divider-1 {
  background-image: url('/images/dividers/divider1.jpg');
}
.divider-2 {
  background-image: url('/images/dividers/divider2.jpg');
}
.divider-3 {
  background-image: url('/images/dividers/divider3.jpg');
}
.divider-4 {
  background-image: url('/images/dividers/divider4.jpg');
}
.divider-5 {
  background-image: url('/images/dividers/divider5.jpg');
}
.divider-6 {
  background-image: url('/images/dividers/divider6.jpg');
}